<!DOCTYPE html>
<html>
	<head>
		<title>Recipes</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">

	</head>
	
	<body>
		
	<nav id="navbar" class="navbar navbar-dark ">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Dominguez.xyz</a>
		</div>
		<div>
			<ul class="nav navbar-nav navbar-left">
				<li class="nav-item active"><a href="/">Home</a></li>
				<li><a  "nav-link" href="/">Recipe Generator</a></li>
				<li><a href="/recipes/favorites">Favorites</a></li>
			</ul>
		</div>
	</div>	
</nav>

