<!DOCTYPE html>
<html>
	<head>
		<title>Recipes</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/stylesheets/styles_recipes.css">
	</head>
	<body>
		<header id="navbar" class="navbar navbar-dark navbar-expand-lg">
			<a class="navbar-brand" href="/">Dominguez.xyz</a>
			<div class="navbar-nav-scroll">
				<ul class="nav navbar-nav navbar-left">
					<li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link active" href="/">Recipe Generator</a></li>
					<li class="nav-item"><a class="nav-link active" href="/recipes/favorites">Favorites</a></li>
				</ul>
			</div>	
		</header>

