<% include partials/header %>

<div class="container">
    <header class="page-header">
        <h1>Favorite Recipes</h1>
    </header>
    
    <div id="favorites_grid" class="row row-eq-height">
		<% recipes.forEach(function(recipe){%>
		<div class="col col-sm-6 col-md-3 border">
			<div class="img">
				<img src="<%=recipe.image%>" class="img-thumbnail" >
			</div>
			<div class="caption">
				<p><%=recipe.title.substring(0, 25)%></p>
			</div>
			<div class="form-row">
			    <div class="col">
                    <a href="/recipes/favorites/<%=recipe._id%>" class="btn btn-outline-primary btn-sm">View</a>
			    </div>
			    <div class="col">
                    <form id="delete" action="/recipes/favorites/<%=recipe._id%>?_method=DELETE" method="POST">
				        <button class="btn btn-outline-danger btn-sm">Remove</button>
				    </form>			        
			    </div>
			</div>
		</div>
		<%});%>
    </div>
    <div>
        <a href="/recipes" class="btn btn-success">Go Back</a>
    </div>
</div>

<% include partials/footer %>