<!DOCTYPE html>
<html>
    <head>
        <title>Ivan Dominguez</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles_home.css">
    </head>
    <div class="container container-fluid">
        <body>
            <div class="jumbotron">
                <img class="img-fluid rounded-circle mx-auto d-block" alt="face pic" src="https://media.licdn.com/dms/image/C4D03AQGRzvNKohLXaA/profile-displayphoto-shrink_200_200/0?e=1571875200&v=beta&t=okEmLM4ABBuM4Ya_sYte2ouRDaPVM8eHaO-4wBNMWDY">
                <h1 class="text-center" >Ivan Dominguez</h1>
                <center>
                    <a href="https://www.linkedin.com/in/ivan-dominguez-089841b4" target="_blank">
                        <i class="fab fa-linkedin" title="LinkedIn"></i>
                    </a>
                    <a href="https://github.com/Ivan-Dominguez" target="_blank">
                        <i class="fab fa-github-square" title="GitHub"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/ivan-dominguez-089841b4" target="_blank">
                        <i class="fas fa-file-pdf" title="Resume"></i>
                    </a>
                    <a href="mailto:ridoming@lakeheadu.ca">
                        <i class="far fa-envelope" title="email"></i>
                    </a>
                </center>
            </div>
            <div id="about_title">
                <h2>About Me</h2>
                <p>
                    I am Software Engineering graduate with a strong interest in Software Development.
                    I enjoy learning new technologies and best practices. I personally believe that 
                    writing clean code is a form of art. I also posses a diploma in Electrical Engineering
                    Technology, wich provided me with hands-on experience programming PLCs, networking and
                    other automation and telecommunication technologies.
                </p>
            </div>
            <div id="projects_title">
                <h2> Projects</h2>
            </div>
            <div>
                <a href="http://www.dominguez.xyz/recipes" target="_blank">
                    Recipe Generator Web App
                </a>
            </div>
            <div>
                <a href="https://github.com/Ivan-Dominguez/Hydro-Prediction-System"target="_blank">
                    Hydro Forecast System (Degree Project)
                </a>
            </div>
            <div id="skills_title">
                <h2>Skills</h2>
            </div>
            <div class="row">
                <div class="col-sm6 col-md-3">
                    <h5>Languages</h5>
                    <li>JavaScript</li>
                    <li>JAVA</li>
                    <li>C#</li>
                    <li>C/C++</li>
                    <li>Python</li>
                    <li>HTML</li>
                    <li>CSS</li>
                </div>
                <div class="col-sm6 col-md-3">
                    <h5>Frameworks</h5>
                    <li>Node.JS</li>
                    <li>Express</li>
                    <li>ASP.Net</li>
                    <li>Bootstrap</li>
                </div>
                <div class="col-sm6 col-md-3">
                    <h5>Databases</h5>
                    <li>Microsoft SQL</li>
                    <li>MongoDB</li>
                    <li>MySQL</li>
                </div>
                <div class="col-sm6 col-md-3">
                    <h5>Machine Learning</h5>
                    <li>R Studio</li>
                    <li>Shiny Dashboard</li>
                    <li>H2O</li>
                </div>
            </div>
        </body>
    </div>
    
</html>