<% include partials/header %>

<h1>Weekly Recipe Generator</h1>

<form method="POST">
	<table class="table">
		<tr>
			<th>Sunday</th>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
			<th>Saturday</th>
		</tr>
		<tr>
		<td> <input type="text" name="query_sunday" value="Soup" placeholder="Enter Ingredients"> </td>
		<td> <input type="text" name="query_monday" value="Sandwich" placeholder="Enter Ingredients"> </td>
		<td> <input type="text" name="query_tuesday" value="Stirfry" placeholder="Enter Ingredients"> </td>
		<td> <input type="text" name="query_wednesday" value="Pasta" placeholder="Enter Ingredients"> </td>
		<td> <input type="text" name="query_thursday" value="Tofu" placeholder="Enter Ingredients"> </td>
		<td> <input type="text" name="query_friday" value="Eggs" placeholder="Enter Ingredients"> </td>
		<td><input type="text" name="query_saturday" value="New Recipe" placeholder="Enter Ingredients"> </td>
	</tr>
	<tr>
		<td> <button type="submit" value="Get Recipe" formaction="/sunday">Get Recipe</button> </td>
		<td> <button type="submit" value="Get Recipe" formaction="/monday">Get Recipe</button> </td>
		<td> <button type="submit" value="Get Recipe" formaction="/tuesday">Get Recipe</button> </td>
		<td> <button type="submit" value="Get Recipe" formaction="/wednesday">Get Recipe</button> </td>
		<td> <button type="submit" value="Get Recipe" formaction="/thursday">Get Recipe</button> </td>
		<td> <button type="submit" value="Get Recipe" formaction="/friday">Get Recipe</button> </td>
		<td> <button type="submit" value="Get Recipe" formaction="/saturday">Get Recipe</button> </td>
	</tr>
	</table>
</form>

<div>
	<h3> <%= recipeInfo.title %>	</h3>
</div>
<div>
	<h4>Ingredients:</h4>
	<% recipeInfo.extendedIngredients.forEach((ingredient) => {  %>
		<li><%= ingredient.name %> </li>
	<% }) %>
	
	
</div>		
<div>
	<h4>Directions:</h4>
	<p> <%= recipeInfo.instructions %>	</p>
</div>




<% include partials/footer %>