<% include partials/header %>

<h1>Weakly Recipes Generator</h1>

<form method="POST">
	<table class="table">
		<tr>
			<th>Sunday</th>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
			<th>Saturday</th>
		</tr>
		<tr>
		<td> <input type="text" name="query" value="Soup" placeholder="Enter Ingredients"> </td>
		<td> <input type="text" name="monday-recipe" value="Sandwich" placeholder="Enter Ingredients"> </td>
		<td> <input type="text" name="tuesday-recipe" value="Stirfry" placeholder="Enter Ingredients"> </td>
		<td> <input type="text" name="wednesday-recipe" value="Pasta" placeholder="Enter Ingredients"> </td>
		<td> <input type="text" name="thursday-recipe" value="Tofu" placeholder="Enter Ingredients"> </td>
		<td> <input type="text" name="friday-recipe" value="Eggs" placeholder="Enter Ingredients"> </td>
		<td><input type="text" name="saturday-recipe" value="New Recipe" placeholder="Enter Ingredients"> </td>
	</tr>
	<tr>
		<td> <button type="submit" value="Get Recipe" formaction="/sunday">Get Recipe</button> </td>
		<td> <button type="submit" value="Get Recipe" formaction="/monday">Get Recipe</button> </td>
		<td> <button type="submit" value="Get Recipe" formaction="/tuesday">Get Recipe</button> </td>
		<td> <button type="submit" value="Get Recipe" formaction="/wednesday">Get Recipe</button> </td>
		<td> <button type="submit" value="Get Recipe" formaction="/thursday">Get Recipe</button> </td>
		<td> <button type="submit" value="Get Recipe" formaction="/friday">Get Recipe</button> </td>
		<td> <button type="submit" value="Get Recipe" formaction="/saturday">Get Recipe</button> </td>
	</tr>
	</table>
</form>

<div>
	<p><%=recipe%></p>
</div>


<% include partials/footer %>