<% include partials/header %>

<h1>Recipes</h1>

<table class="table">
	<tr>
		<th>Sunday</th>
		<th>Monday</th>
		<th>Tuesday</th>
		<th>Wednesdday</th>
		<th>Thursday</th>
		<th>Friday</th>
		<th>Saturday</th>
	</tr>
	<tr>
		<td>Soup</td>
		<td>Sandwich</td>
		<td>Stirfry</td>
		<td>Pasta</td>
		<td>Tofu</td>
		<td>Eggs</td>
		<td>New Recipe</td>
	</tr>
</table>

<% include partials/footer %>