#jumbotron_recipes{
    padding-top: 10px;
    padding-bottom: 10px;
}

#jumbotron_descr{
    font-size: 10px;
    margin-bottom:5px;
}

#days_table{
   border-style: solid;
    border-color: black;
    border-width: 1px;
}

#diet_radio_btn{
   text-align: center;
   padding-top: 20px;
  
}


.form-row{
     padding: 5px;
} 
 
 #day_name{
     background-color: rgb(149, 192, 234);
     text-align: center;
     padding: 5px;
     font-weight: bold;
 }
 
 #day_name{
      border: 1px solid gray;
      margin:2px;
 }


#recipe_title{
    padding-top: 40px;
}

#recipe_ingredients{
    padding-top: 30px;
    padding-bottom: 40px;
}

#directions{
    padding-top: 30px;
}

#recipe_directions{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 15px;
}

