.fab.fa-linkedin {
    color: #007bb6;
    font-size:36px;
}

.fab.fa-github-square{
    font-size:36px;
    color:black;
}

.fas.fa-file-pdf{
    font-size:34px;
    color: red;
}

.far.fa-envelope{
    color: blue;
    font-size:36px;
}