#navbar{
    background-color: rgb(244,164,96);
    margin-bottom: 20px;
}
.nav-link{
    color: gray;
}

#jumbotron_recipes{
    background-color: rgb(255,250,240);
    padding-top: 10px;
    padding-bottom: 10px;
}

#jumbotron_descr{
    font-size: 10px;
    margin-bottom:5px;
}

#diet_radio_btn{
   text-align: center;
   padding-top: 20px;
  
}


.form-row{
     padding: 5px;
} 
 
#day_name{
 background-color: rgb(244,164,96);
 text-align: center;
 padding: 5px;
 font-weight: bold;
 border: 1px solid gray;
 margin:2px;
}

#get_recipe_btn{
    background-color: rgb(165,42,42);
    border-color: rgb(165,42,42); 
}
 
#recipe_title{
    padding-top: 40px;
}

#recipe_ingredients{
    padding-top: 30px;
    padding-bottom: 40px;
}

#recipe_directions{
    border-width: 1px;
    padding: 15px;
}
#favorites_grid{
    padding-top: 20px;
    padding-bottom: 20px;
}

#add_to_favorite_btn{
    background-color: rgb(165,42,42);
    border-color: rgb(165,42,42);
    
}

#go_to_favorite_btn{
    background-color: rgb(244,164,96);
    border-color: rgb(244,164,96);
}

